<% layout('layouts/boilerplate') %>
<h1>All Athletes</h1>
<div>
    <a href="/athletes/new">New Athlete</a>
</div>
<ul>
    <% for (let athlete of athletes) {%>
        <li><a href="/athletes/<%= athlete._id%>"><%= athlete.name%></a></li>
            <ul>
                <li><%=athlete.sport %></li>
            </ul>
    <% } %>  
</ul>
