<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>scouting.com - Athletes</title>
</head>
<body>
    <h1>All Athletes</h1>
    <ul>
        <% for (let athlete of athletes) {%>
            <li><%= athlete.name %></li>
        <% } %>  
    </ul>
</body>
</html>